// Colors

$washed-green: #e6f7f4;
$washed-blue: #ecf2f7;
$white: #ffffff;
$color-primary-base: #00599a;
$color-border: #cfd8dc;
$color-box-background: #f7f7f7;
$color-navigation-highlight: $color-primary-base;
$color-button-disabled-bg: #cfd8dc;
$color-button-disabled: #445963;
$color-link: $color-primary-base;
$color-gray-dark: #5c5d5d;

$theme-primary: $color-primary-base;
$theme-secondary: $color-secondary-base;
$theme-background: white;

$font-family-base: 'Public Sans', sans-serif;
$font-family-text: $font-family-base;
$font-family-heading: $font-family-base;
$font-weight-button: bold;
$font-size-button: 1rem;
$font-size-h1: 1.5rem;
$font-weight-h1: bold;
$font-size-h2: 1.25rem;
$font-weight-h2: bold;
$font-size-h3: 1rem;
$font-weight-h3: bold;

$content-above-height: 48px;
$narrow-content-max-width: 480px;
