<div{{ attributes }} data-mdc-auto-init="MDCRipple">
    <a href="{{ item.content['#url'] }}" class="button__link">
        <button class="button mdc-button mdc-button--unelevated">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">{{ item.content['#title'] }}</span>
        </button>
    </a>
</div>
