body .overlay__container {
  bottom: -100vh;
  position: fixed;
  transition: .3s bottom;
}

body.overlay-open,
body.overlay-switcher-open {

  .overlay__content {
    display: block;
    position: relative;
    overflow: hidden;
    top: 0;

    .button {
      width: 100%;
      margin-top: $spacing * 2;
    }

    .cancel {
      text-align: center;
      font-weight: bold;
      margin-top: $spacing * 2;
    }

    .block-sbs-ehelpers-request {
      padding-left: $spacing * 2;
      padding-right: $spacing * 2;
    }
  }

  .overlay__container {
    background: $white;
    padding: $spacing * 3 0;
    border-radius: $spacing * 3 $spacing * 3 0 0;
    left: 0;
    right: 0;
  }

  .page-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.8);
  }
}
body.overlay-open {
  .page-overlay {
    height: auto;

    .overlay__container {
      bottom: 0;
    }
  }
}
