.sbs-users-welcome-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 8vh;

  h1 {
    margin: 0 0 $spacing * 3;
  }

  p {
    margin: 0 0 $spacing * 2;
  }

  button.mdc-button.button-submit.mdc-button--unelevated.mdc-button--raised.button.js-form-submit.form-submit {
    margin-top: auto !important;
  }
}
