<div class="note">
  <div class="note__header">
    <div class="note__created">{{ created }}</div>
    <div class="note__author">{{ 'Note by'|t }} {{ author }}</div>
  </div>
  <div class="note__content">{{ note }}</div>
</div>
